<mat-accordion>
    <mat-expansion-panel *ngFor ="let p of posts">
        <mat-expansion-panel-header >
            {{p.firstName1}}
        </mat-expansion-panel-header>
          {{p.lastName1}}<br>
          {{p.age1}}<br>

          {{p.usn1}}<br>
         <!--  <p>{{p.phoneNo1}}</p>
          <div><img [src]="p.imagePath1"  [alt]="image may be ">
          </div> -->
        <mat-action-row>
           <a mat-button color="primary"[routerLink]="['/edit',p._id]">EDIT</a>
            <button mat-button color="warn" (click)="onDelete(p._id)">DELETE</button>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>  